:root {
    --primary-color: #396e94;
    --secondary-color: #4C4B63;
    --accent1-color: #c3c2f7;
    --accent2-color: #142634;
    --footer2-color: #949396;
    --footer3-color: #4a4a4b;
    --purple-light: #c3c2f7;
    --main-text-color: black; 
    --heading-font: "IM Fell French Canon SC", "Times New Roman", serif;
    --paragraph-font: Arial, Helvetica, sans-serif;
/*Colors I'm considering using: C7EEF5, 95FFFF, 558DCA, F07C41, 022249, White text
  FBEEC1, BC986A, DAAD86, 659DBD, 8D8741, white text*/    
}

/* 
html {
    background-color: var(--primary-color);
} 
*/

body {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
}

header, footer, main {
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color:var(--secondary-color) ;
    font-size: 28px;
}

h1 {
    color: var(--purple-light);
    padding: 0px 20px;
    font-size: 30px;
}

.navLinks {
    list-style-type: none;
    display: flex;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 1rem;
    font-weight: 700;
}

.navLinks li {
    flex: 1 1 auto;
}

.navLinks a {
    padding: 1em;
    min-width: 70px;
}

.navLinks a:link, nav a:visited {
    color: var(--accent1-color);
}

.navLinks a:hover {
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}

.thumbnail {
	width: 50px;
    height: auto;
    padding-left: 30px;
}

header {
    padding: 10px 0px;
    display: flex;
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--accent2-color);
}

main {
    background-color: white;
}

.hero {
    max-width: 960px;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 60px;
    height: auto;
    width: 860px;
    align-items: center;
    /* justify-content: space-evenly; */
    padding: 50px;
}

.textBlock1 {
    grid-column: 1/2;
}

.bodyImage1 img {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.452);
    height: 350px;
    grid-column: 2/3;
}

.bodyImage2 img {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.23);
    height: 350px;
    grid-column: 1/2;
}

.textBlock2 {
    grid-column: 2/3;
}

.textBlock3 {
    grid-column: 1/3;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background-color: var(--footer2-color);
    color: white;
}

.top-footer-row {
    background-color: var(--accent2-color);
    height: 50px;
    grid-column: 1 / 3;
}

.contact-title {
    font-size: 22px;
    color: var(--secondary-color);
    grid-column: 1 / 2;
    justify-self: center;
    padding: 40px 0px 0px 0px;
}

.open-times-title {
    font-size: 22px;
    color: var(--secondary-color);
    grid-column: 2 / 3;
    justify-self: center;
    padding: 40px 0px 0px 0px;
}

td {
    height: 40px;
    vertical-align: center;
    padding: 5px;
}

.contact-details {
    height: 180px;
    grid-column: 1 / 2;
    justify-self: center;
    padding: 20px;
}

.open-times-details {
    /* width: 300px; */
    height: 180px;
    grid-column: 2 / 3;
    justify-self: center;
    padding: 20px;
}

.social {
	box-shadow: none;

}

a {
    color: #54a5df;
}

.copyright {
    grid-column: 1 / 3;
    justify-self: center;
    background-color: var(--footer3-color);
    padding: 0px 95px;
}

/*////////////////////////////////////////////////////////////////

.headings {
	display: flex;
	flex-direction: column;
}

*/
